.ngdialog-content{
  background: #5bc0de!important;
}

.ngdialog.ngdialog-theme-plain {
  padding-top: 20%!important;
}

.labelText{
  padding-left:18px
  ;padding-right:12px;
  color:white!important;
}

.ngdialog.ngdialog-theme-plain .ngdialog-close:before{
  color: white!important;
}

p {
margin-top: 8px;
}