<!doctype html>
<html lang="tr-TR">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Language" content="tr" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description"
		content="türkiye'de düzenlenen hackathon, ideathon, makeathon, datathon, game jam etkinliklerini, istanbul, ankara, izmir listeler, hackfest, codefest">
	<meta name="keywords"
		content="hackathon, türkiye, istanbul, ankara, izmir, hackfest, codefest, ideathon, game jam, makeathon, datathon">

	<script
		type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.hackathonturkiye.com/\/","name":"hackathon turkiye","alternateName":"hackathon turkiye","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.hackathonturkiye.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>

	<link rel="shortcut icon" type="image/png" href="img/logo.png" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/angular-timeline.css">
	<link rel="stylesheet" href="css/angular-timeline-images.css">
	<link rel="stylesheet" href="css/angular-timeline-animations.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/css/ngDialog-theme-plain.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/css/ngDialog.min.css">

	<link rel="stylesheet" href="css/style.css">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<title>Hackathon Türkiye</title>
</head>

<body ng-app="app" class="container">

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href ng-click="changePage('new');">Hackathon Türkiye</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href ng-click="changePage('old');">Geçmiş Hackathonlar</a>
				</li>
				<li>
					<a href="https://medium.com/hackathonturkiye/hackathon-nedir-23b1ccb304e6" rel="noopener"
						target="_blank">Hackathon Nedir?</a>
				</li>
				<li>
					<a href="https://forms.gle/1ysDLUgNGPjTXMRu9" rel="noopener" target="_blank">Hackathon Kaydet</a>
				</li>
				<li>
					<a href="https://medium.com/hackathonturkiye" rel="noopener" target="_blank">Blog</a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="list" class="row">
		<div class="col-md-offset-2 col-md-8">
			<hackathon-list></hackathon-list>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-sanitize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/js/ngDialog.min.js"></script>
	<script src="js/angular-scroll-animate.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
	<script async src="https://use.fontawesome.com/7a1aa396e3.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/angular-timeline.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109031383-1"></script>
	<!-- <script src="js/main.js"></script> -->
	<!-- Resource jQuery -->
	<script src="js/modernizr.js"></script>
	<!-- Modernizr -->
	<script src="js/app.js"></script>
	<script src="js/services/hackhaton.service.js"></script>
	<script src="js/components/hackathon-list.component.js"></script>


	<script>
		document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
		document.cookie = "MCPopupSubscribed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
	</script>

	<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
		data-dojo-config="usePlainJson: true, isDebug: false"></script>
	<script
		type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us18.list-manage.com", "uuid": "e73471f6b46f14749c393649c", "lid": "744a9e6606", "uniqueMethods": true }) })</script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-109031383-1');
	</script>
	<footer>
		<div class="col-md-offset-2 col-md-8" style="text-align:center;padding-bottom:24px;">
			<span style="cursor:pointer; padding-top:12px;" onclick="window.open('https://twitter.com/turkeyhackathon')"
				class="fa fa-2x fa-twitter"></span>
			<span style="cursor:pointer; padding-top:12px; padding-left:24px;"
				onclick="window.open('https://www.facebook.com/Hackathon-Türkiye-920939078056993/')"
				class="fa fa-2x fa-facebook"></span>
			<span style="cursor:pointer; padding-top:12px; padding-left:24px;"
				onclick="window.open('https://www.instagram.com/hackathonturkiye/')"
				class="fa fa-2x fa-instagram"></span>
			<span style="cursor:pointer; padding-top:12px; padding-left:24px;"
				onclick="window.open('https://www.linkedin.com/company/hackathon-turkiye/')"
				class="fa fa-2x fa-linkedin"></span>
			<span style="cursor:pointer; padding-top:12px; padding-left:24px;"
				onclick="window.open('https://play.google.com/store/apps/details?id=com.hackathon.hackathon_turkiye&hl=tr')"
				class="fa fa-2x fa-android"></span>
		</div>
	</footer>
</body>

</html>